ul {
  padding: 0;
  border: 1px var(--accent) solid;
  border-radius: var(--small-radius);

  & li {
    position: relative;
    padding: 10px 24px;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      width: calc(100% - 24px * 2);
      bottom: 0;
      left: 24px;
      height: 1px;
      background-color: var(--accent);
    }

    & .name {
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
    }
  }
}

section.select {
  margin: 36px auto;

  & .ticket-select {
    width: 410px;
    max-width: 100%;
  }

}
