nav {
  display: flex;
  justify-content: space-between;

  padding: 22px var(--content-padding);

  font-size: 20px;
  font-weight: 400;

  & a {
    align-self: center;
  }

  & .group {
    display: flex;
    gap: 42px;
  }

  @media (width < 980px) {
    & .unpleasant {
      display: none;
    }
  }
}
