form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & .auth-button {
    grid-column: 1 / 3;
  }

  @media (width < 600px) {
    & {
      grid-template-columns: auto;
      & .auth-button {
        grid-column: 1;
      }
    }
  }
}
